<div class="jumbotron">
  <h1>Find Someone Now!</h1>
  <p class="lead">
    <img src="images/gotham.jpg" alt="tiny map"><br>
    Send them an interesting link and when they click on it find out where they are.
  </p>
  <p><a class="btn btn-lg btn-danger" ng-href="#/">Sign Up! <span class="glyphicon glyphicon-screenshot"></span></a></p>
</div>

<div class="row marketing">
  <h4>Step 1:</h4>
  <p>
    Find an interesting picture or article to send someone that they will definitely want to open. This is called linkbait.
  </p>

  <h4>Step 2:</h4>
  <p>
    Send it to them, using this site of course.
  </p>

  <h4>That's it!</h4>
  <p>
    When they open it you can log in and find out where they are.
  </p>
</div>
